// components/_tabs.scss

body.cs-components,
body.cs-component__tabs {

  .csc-tabs {
    border-bottom: 1px solid color("grey", "lighten-2");

    > ol {
      margin: 0;
      padding: 0;
      font-size: 0px;
      text-indent: 0;
      list-style-type: none;

      > li {
        list-style: none;
        display: block;
        height: 48px;
        font-size: 1rem;
        line-height: 48px;

        @media #{$medium-and-up} {
          display: inline-flex;
        }

        button {
          background-color: inherit;
          border: none;
          outline: none;
          cursor: pointer;
          transition: 0.3s;
        }

        .csc-tab {
          display: block;
          padding: 0px 24px;
          width: 100%;
          height: 100%;
          color: inherit;
          border-bottom: 2px solid color("grey", "base");

          @media #{$medium-and-up} {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-bottom-color: transparent;
          }

          &:hover {
            background-color: color("grey", "lighten-4");
            border-bottom-color: color("grey", "lighten-1");
          }

          &--active {
            background-color: white !important;
            border-bottom-color: $link-color;

            &:hover {
              border-bottom-color: $link-color;
            }
          }

          &--disabled {
            color: color("grey", "base");
            cursor: default;

            &:hover {
              background-color: color("grey", "lighten-2");
              border-bottom-color: transparent;
            }
          }

          [class^="fa"] {
            margin-right: 8px;
          }
        }
      }
    }
  }

  .csc-tab {
    &__content {
      display: none;
      animation: fadeEffect 1s;

      &__header {
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px;

        @include media("screen", ">=md") {
          grid-template-columns: 1fr auto;
        }
      }
    }
  }
}